---
layout: default
title: "HCT at UVA"
---
<div class="introduction">

<p>
  HCT at UVA is a Human-Centered Design and Engineering Cohort aiming to unite faculty members engaged 
  in research on human factors, computation, and artificial intelligence (AI) to address the pressing 
  need for human-centered technology solutions.
</p>
<p>
  For more information about the cohort, please visit the <a href="{{ site.baseurl}}/about">about page</a>. 
  Organizing and participating faculty can be found on the <a href="{{ site.baseurl}}/people">people page</a>.
  For past and upcoming events, look at the list below or take a look at the <a href="{{ site.baseurl }}/events">events page</a>.
</p>
</div>

<hr>

<div class="toc">
  <h2>Upcoming Talks</h2>
  <ul class="talks">
  {% for item in site.upcomingtalks %}

    <li class="talk-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </li>
  {% endfor %}
  </ul>
</div>

<div class="toc">
  <h2>Past Talks</h2>
  <ul class="talks">
  {% for item in site.pasttalks %}

    <li class="talk-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </li>
  {% endfor %}
  </ul>
</div>